<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="twitter:site" content="@fren_labs">
    <meta name="twitter:creator" content="@fren_labs">
    <meta name="twitter:title" content="Mint $Fren, Earn next 100x coin">
    <meta name="twitter:description" content="From Fren Labs on ETHF, Keeping POW for everyone - POWP">
    <meta name="twitter:image" content="https://fenus.xyz/res/fren_invite.jpg?powgreater">
    <meta name="twitter:card" content="summary_large_image">
    <script>
        window.location.href = 'https://fenus.xyz/#/batchShare/{{.wallet}}'
    </script>
</head>
<body>

</body>
</html>
